* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Lato', sans-serif;
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  background-color: #eee;
}

.header {
  width: 100%;
  padding: 25px 0px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.header__logo img {
 width: 70%;
 max-width: 280px;
 margin-bottom: 7px; 
}

.header__navbar ul {
  display: flex;
  flex-direction: column;
  gap: 6px;
  list-style: none;
  font-size: 1.6rem;
}

.header__navbar a {
  text-decoration: none;
}

.header__navbar a:link {
  color: black;
}

.header__navbar a:visited {
  color: black;
}

main {
  width: 100%;
}
/*Styles for get started section*/

.get-started {
  margin-bottom: 30px;
  width: 100%;
}

.get-started form {
  width: 80%;
  margin: 0 auto;
  text-align: center;
}

.get-started .get-started__title {
  font-size: 2rem;
}

.get-started .get-started__email {
  margin: 15px auto;
  padding: 5px;
  width: 100%;
  max-width: 300px;
  display: block;
}

.get-started .get-started__btn {
  padding: 5px 10px;
  width: 50%;
  max-width: 150px;
  border: none;
  border-radius: 3px;
  background-color: #f1c40f;
  font-family: Lato, sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}

/*Styles for features section*/

.features {
  width: 100%;
  margin: 0 auto;
  padding: 0px 15px;
}

.features__article {
  max-width: 80%;
  margin: 0 auto;
  padding: 10px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.features .article--icon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  width: 20vw;
  font-size: 4.2rem;
  color: darkorange;
}

.article--text {
  text-align: center;
} 

.article--text h2 {
  font-size: 2rem;
  font-weight: 700;
  line-height: 2.4rem;
}

.article--text p {
  font-size: 1.4rem;
  font-weight: 400;
}